  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        AS
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary"><%= t("Home") %></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"><%= t("Serviços") %></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"><%= t("Clientes") %></a></li>
        <li><a href="#" class="nav-link px-2 link-dark"><%= t("Relatórios") %></a></li>
      </ul>

      <div class="col-md-3 text-end">
        <% if not user_signed_in? %>
          <a href="<%= new_user_session_path %>" class="btn btn-outline-primary me-2"><%= t('Login') %></a>
          <a href="<%= new_user_registration_path %>" class="btn btn-outline-primary me-2"><%= t("Sign Up") %></a>
        <% else %>
          <%= button_to t('Sign Out'), user_registration_path, method: :delete, class: "btn btn-outline-danger me-2" %>
        <% end %>
      </div>
    </header>
  </div>