<%= javascript_pack_tag 'customer.js' %>

<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :whatsapp %>
    <%= form.text_field :whatsapp, class: 'form-control input-phone' %>
  </div>  

  <div class="field">
    <%= form.label :doctype %>
    <%= form.number_field :doctype, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :docnumber %>
    <%= form.text_field :docnumber, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, class: 'form-control zipcode' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address_number %>
    <%= form.text_field :address_number, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :complement %>
    <%= form.text_field :complement, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address_state %>
    <%= form.text_field :address_state, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
